.main {
  display: flex;
  gap: 100px;
  width: 100%;
}

.mobile {
  position: relative;
  z-index: 1;
  border-radius: 24px;
}

.mobile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  z-index: -1;
  border-radius: 24px;
  box-shadow: 1px 12px 18px -6px black;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title h1 {
  font-size: calc(34px - 5px);
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 340px;
}

.suptitle {
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 240px;
}

.course h1 {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: calc(34px - 5%);
  font-weight: 500;
}

.couse_box {
  margin-top: 14px;
  width: 560px;
  height: 350px;
  border-radius: 24px;
  box-shadow: 1px 8px 12px -6px black;
  padding: 24px;
}

.textcourses {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #111;
  font-family: "Montserrat", sans-serif;
}

.suggestions {
  background-image: url("../../public/assets/image/backgroun.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 24px 36px;
  margin-top: 35px;

  height: 320px;
  border-radius: 34px;
  box-shadow: 1px 8px 12px -6px black;
  width: 106%;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefit button {
  width: 100%;
  max-width: 130px;
  border: none;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: #ffdd2c;
  text-align: center;
}

.benefit ul {
  list-style: none;
  width: 440px;
  max-width: 100%;
}

.benefit ul li {
  margin-top: 20px;

  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.visual img {
  width: 350px;
}

@media (max-width: 1100px) {
  .main {
    gap: 50px;
  }

  .suggestions {
    width: 104%;
  }
}

@media (max-width: 1050px) {
  .title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 300px;
    margin-bottom: 8px;
  }

  .suptitle {
    font-size: 12px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    width: 240px;
  }

  .mobile {
    width: 320px;
    height: 320px;
  }

  .mobile img {
    width: 320px;
    height: 320px;
  }

  .course h1 {
    font-size: 24px;
  }

  .couse_box {
    margin-top: 12px;
    height: 280px;
    width: 370px;
  }

  .textcourses {
    font-size: 16px;
  }

  .benefit {
    width: 320px;
  }
}

@media (max-width: 950px) {
  .couse_box {
    margin-top: 12px;
    height: 280px;
    width: 340px;
  }
}

@media (max-width: 800px) {
  .main {
    gap: 30px;
  }
}

@media (max-width: 770px) {
  .main {
    flex-wrap: wrap;
  }

  .mobile {
    flex: 1;
  }

  .mobile h1 {
    font-size: 36px;
    width: 500px;
  }

  .mobile p {
    font-size: 24px;
    width: 400px;
  }

  .mobile img {
    width: 100%;
  }

  .course {
    width: 100%;
  }

  .couse_box {
    width: 100%;
  }

  .suggestions {
    width: 100%;
  }

  .benefit ul {
    list-style: none;
    width: 264px;
    max-width: 100%;
  }

  .couse_box {
    height: 240px;
  }
}

@media (max-width: 740px) {
  .suggestions {
    flex-direction: column;
  }

  .benefit {
    width: 100%;
  }

  .benefit ul {
    width: 100%;
    text-align: center;
  }

  .benefit button {
    margin-top: 44px;
    width: 100%;
    max-width: 100%;
  }

  .visual img {
    display: none;
  }
}
