.date_container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pogination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pogination button {
  padding: 14px 12px;
  border-radius: 16px;
  border: 0.4px solid rgb(28, 70, 142);
  background: transparent;
  width: 124px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(28, 70, 142);
}

.pogination span {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(28, 70, 142);
}

.calendar_container {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.dates {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

.date {
  user-select: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.dayactive {
  cursor: pointer;
}

.dayactive:hover {
  border-radius: 14px;
}

.pastday {
  cursor: no-drop;
}

.pastday:hover {
  border-radius: 0%;
}
