.container_profile {
  border-radius: 18px;

  width: 600px;

  padding: 24px 28px;
  box-shadow: 1px 1px 15px -5px;
}

.container_profile h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 22px;
}

.container_profile p {
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.shape {
  display: flex;
  gap: 15%;
}

.profile_item img {
  border-radius: 46%;
}

.profile_item p {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 14px;
}

.profile_item span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.avatar {
  width: 200px;
  height: 180px;
}
