.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logotype img {
  width: 200px;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 14px;
}

.navigation a,
.navigation p {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(28, 70, 142);
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  z-index: 10;
}

.menuButton span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(28, 70, 142);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.menuButton.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
}

.menuButton.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 980px) {
  .header {
    gap: 16px;
  }

  .menuButton {
    display: flex;
  }

  .navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navigation.open {
    transform: translateX(0);
  }
}
