.outlet_container {
  display: flex;
  flex-direction: column;
}

.outlet_container input {
  width: 180px;
  margin-top: 24px;
  padding: 14px 18px;
  border-radius: 16px;
  border: 0.4px solid rgb(146, 146, 146);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.outlet_container input:first-child {
  margin-top: 0;
}

.outlet_formDate {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 14px;
}

.outlet_select{
  margin-top: 20px;
}

.outlet_select .selectTime {
  padding: 8px;
  border-radius: 14px;
  width: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.outlet_select select {
  margin-top: 20px;
  width: 160px;
  padding: 6px;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
